@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;500;600;700&display=swap');

:root {
  --bg-black-900: #f2f2fc;
  --bg-black-100: #fdf9ff;
  --bg-black-50: #e8dfec;
  --skin-color: #ec1818;
  --text-black-900: #302e4d;
  --text-black-700: #504e70;
  --big-black-950: #172554;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
  font-family: 'Poppins', sans-serif; /* Fixed typo from 'puppin' */
}

.aside {
  width: 270px;
  background: var(--bg-black-100);
  position: fixed;
  left: 0;
  padding: 30px;
  top: 0;
  height: 100%;
  border-right: 1px solid var(--bg-black-50);
  justify-content: center;
  display: flex;
  align-items: center;
  z-index: 10;
}

.aside .logo {
  position: absolute;
  top: 50px;
  text-transform: capitalize;
  font-size: 30px;
}

.aside .logo a {
  color: var(--text-black-900);
  font-weight: 700;
  padding: 15px 20px;
  font-size: 30px;
  letter-spacing: 5px;
  position: relative;
}

.aside .logo a span {
  font-family: 'Clicker Script', cursive;
  font-size: 40px;
}
.aside .logo a::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid var(--skin-color);
  border-left: 5px solid var(--skin-color);
  bottom: 0;
  left: 0;
}
.aside .logo a::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-top: 5px solid var(--skin-color);
  border-right: 5px solid var(--skin-color);
  top: 0;
  right: 0;
}

.aside .nav-toggle {
  height: 40px;
  width: 45px;
  border: 1px solid var(--bg-black-50);
  cursor: pointer;
  position: fixed;
  left: 300px;
  top: 20px;
  border-radius: 5px;
  background: var(--bg-black-100);
  display: none;
  align-items: center;
  justify-content: center;
}

.aside .nav-toggle span {
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  display: inline-block;
  position: relative;
}

.aside .nav-toggle span::before {
  content: '';
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  position: absolute;
  top: -6px;
  left: 0;
}

.aside .nav-toggle span::after {
  content: '';
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  position: absolute;
  top: 6px;
  left: 0;
}
.aside ul {
  margin-top: 50px;
}

.aside ul li {
  margin-bottom: 20px;
  display: block;
}

.aside ul li a {
  font-size: 16px;
  font-family: 600;
  display: block;
  border-bottom: 1px solid var(--bg-black-50);
  color: var(--text-black-900);
  padding: 5px 15px;
}
.aside ul li a.active {
  color: var(--skin-color);
}
.aside ul li a i {
  margin-right: 15px;
}

// Intro
.home {
  min-height: 100vh;
  display: flex;
  color: var(--text-black-900);
}
.home .home-info {
  flex: 0 0 60%;
  max-width: 60%;
}

h3.hello {
  font-size: 28px;
  margin: 15px 0;
}

h3.hello span {
  font-family: 'Clicker Script', cursive;
}

h3.my-profession {
  font-size: 30px;
  margin: 15px 0;
}
.typing {
  color: var(--skin-color);
}

.home-info p {
  margin-bottom: 70px;
  font-size: 20px;
  color: var(--text-black-700);
}


.home-image::after {
  content: '';
  position: absolute;
  height: 80px;
  width: 80px;
  border-bottom: 10px solid var(--skin-color);
  border-right: 10px solid var(--skin-color);
  right: 140px;
  bottom: 0px;
}

.home-image::before {
  content: '';
  position: absolute;
  height: 80px;
  width: 80px;
  border-top: 10px solid var(--skin-color);
  border-left: 10px solid var(--skin-color);
  left: 0px;
  top: 0px;
}
.home .home-image img {
  height: 300px;
}